.view {
  width: 100%;
  min-height: calc(100vh - 8vh);
  overflow-x: hidden;
  transition: all 0.5s;
  margin-left: -20%;
}

.view.active-sidebar {
  margin-left: 0;
}
@media (max-width: 1024px) {
  .view {
    margin: auto;
  }
  .view.active-sidebar {
    margin: auto;
  }
}
