.node {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.node-name {
  cursor: pointer;
  font-weight: 600;
  word-break: break-word;
  hyphens: auto;
}

.node-name:hover {
  color: rgb(25 118 210 / 60%);
}

.node-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
