.header {
  height: 8vh;
  background-color: #1976d2;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  padding: 2px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}
